<div class="container" >
  <div class="row container-c">
      <div class="col-3" >
        <div class="d-flex flex-column">
          <div class="p-2">
            <button nz-button nzType="primary" class="btn-button" routerLink="/">Consultar Cuenta</button>
          </div>
          <div class="p-2"><button nz-button nzType="primary" class="btn-button" routerLink="/transacciones">Consultar Transaciones</button></div>
        </div>
      </div>
      <div class="col-9" >
        <router-outlet></router-outlet>
        <!--<app-lista-cuentas></app-lista-cuentas>-->
      </div>
  </div>
</div>
