<div *ngFor="let cuenta of cuentas" style="margin-bottom:20px">
      <nz-card  nzTitle='{{ cuenta.nombreCuenta}}'>
        <div class="row">
          <div class="col-8">
            <div class="d-flex">
              <div class="mr-auto p-2">
                <h5>ID Cuenata</h5>
                <span>{{ cuenta.id }}</span>
              </div>
              <div class="p-2">
                <h5>Numero de cuenta</h5>
                <span>{{ cuenta.numeroCuenta }}</span>
              </div>
              <div class="p-2">
                <h5>Saldo</h5>
                <span>{{ cuenta.saldo }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex">
              <div class="p-2">
                <button nz-button nzType="primary" nzGhost [routerLink]="['/operaciones']" >Seleccione la Operaciones</button>
              </div>
            </div>
          </div>
        </div>
      </nz-card>
</div>

