<div class="row" style="margin-bottom:20px;">
  <div class="col-12">
    <form [formGroup]="filtroCuenta">
    <nz-select   nzPlaceHolder="Seleccione tipo operacion" formControlName="filtroCuentas" style="width:20%;margin-right:10px" (ngModelChange)="dataChanged($event)">
      <nz-option nzValue="ALL" nzLabel="ALL"></nz-option>
      <nz-option nzValue="4242424242424242" nzLabel="Daffy Duck"></nz-option>
      <nz-option nzValue="5555555555554444" nzLabel="Elmer Fudd"></nz-option>
      <nz-option nzValue="378282246310005" nzLabel="Wile E. Coyote" ></nz-option>
    </nz-select>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nz-table #basicTable [nzData]="transacciones">
      <thead>
      <tr>
        <th>Transaccion ID</th>
        <th>Cuenta origen</th>
        <th>Operacion</th>
        <th>Monto</th>
        <th>Cuenta Destino</th>
        <th>Fecha Movimiento</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.transaccionID }}</td>
        <td>{{ data.cuentaOrigen }}</td>
        <td>{{ data.operacion }}</td>
        <td>{{ data.monto }}</td>
        <td>{{ data.cuentaDestino }}</td>
        <td>{{ data.fechaMovimiento }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
