<div class="col-12">
  <nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Operaciones Bancarias">
    </nz-step>
    <nz-step nzTitle="Confirmacion"></nz-step>
  </nz-steps>

  <div class="steps-content">

    <form [formGroup]="operacion" (ngSubmit)="OperacionesBancarias()" *ngIf="isFormularioOperaciones">
      <div class="row" style="margin-bottom:20px;">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <nz-select   nzPlaceHolder="Seleccione tipo operacion"  formControlName="tipoOperacion" style="width:20%;margin-right:10px" (ngModelChange)="dataChanged($event)">
              <nz-option nzValue="DEPOSITO" nzLabel="DEPOSITO"></nz-option>
              <nz-option nzValue="RETIRO" nzLabel="RETIRO"></nz-option>
              <nz-option nzValue="TRANSFERENCIA" nzLabel="TRANSFERENCIA" ></nz-option>
            </nz-select>
            <nz-select nzPlaceHolder="Seleccione cuenta" formControlName="cuentaOrigen" style="width:20%" >
              <nz-option *ngFor="let cuenta of cuentas"  nzValue="{{cuenta.numeroCuenta}}" nzLabel="{{cuenta.nombreCuenta}}"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <input nz-input placeholder="Ingrese el valor"  formControlName="valor" style="width:20%;margin-right:10px" />
            <nz-select ngModel="lucy" nzPlaceHolder="Seleccione Cuenta Destino"  formControlName="cuentaDestino" style="width:20%"  [nzDisabled]="disables">
              <nz-option *ngFor="let cuenta of cuentas"  nzValue="{{cuenta.numeroCuenta}}" nzLabel="{{cuenta.nombreCuenta}}"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </form>
    <div class="row"  style="margin-bottom:20px;" *ngIf="stadoOperacion">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-start flex-column" style="height: 200px;">
            <div class="mb-auto p-2"><h1>Cargando comprovante de tranzacion</h1></div>
            <div class="p-2">
              <h5>Numero  de cuenta  {{comprovante[0].numeroCuenta}}</h5>

            </div>
            <div class="p-2">
              <h5>Nombre cuenta  {{comprovante[0].nombreCuenta}}</h5>
            </div>
            <div class="p-2">
              <h5>Saldo  {{comprovante[0].saldo}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <button nz-button nzType="primary" [nzSize]="size" [routerLink]="['/']" >
               Terminar transaccion
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 2" [hidden]="finTransacion">
      <span>Continuar</span>
    </button>
  </div>
</div>
